body{
	background-color:#ffc;
}
div#oldal{
	background-color:#ff9;
	margin: 0 auto 0 auto;
	width: 1250px;
	height: 900px;
}
#kep2{
	float: right;
}
#kep1{
	float:left;
}
#cim {
	text-align: center;
	text-decoration: none;
	color: #000;
}
#menu1 {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 70px 0;
    list-style-type: none;
    border-top: 0.25em solid #b3b3b3;
    border-bottom: 0.25em solid #b3b3b3;
}
#menu1 li { display:inline }

#menu1 a {
  float:left;
  padding: 8px 10px;
  margin: 8px 0 8px 5px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
#bej {
	float:right;
}
#tartalom {
	padding: 50px;
}
#info td{
	width:70px;
	float:left;
	background-color:#fff;
	border:0.15em solid #000;
}
#info th{
	border:0.15em solid #000;
}
#őrszolgálat th,td{
	float:center;
}
#őrszolgálat{
	background-color:#fff;
	border:0.25em solid #000;
	width: 317px;
	text-align:center;
}
#info {
	background-color:#fff;
	border:10px;
	border:0.25em solid #000;
}
#elérhetőség{
	width: 317px;
	float:left;
	padding-top:255px;
}
#oldalmenü{
	float:right;
	width: 317px;
	background-color:#fff;
}
#óra{
	overflow:hidden;
	margin:0;
	padding:0;
	width:120px;
	height:40px;
}